{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Welcome to site! Log In!</h1>
            <div class="d-flex justify-content-evenly">
                <a class="btn btn-primary btn-lg"
                   href="{{ path('connect_facebook_start') }}"
                   role="button">Facebook</a>
                <a class="btn btn-secondary btn-lg"
                   href="{{ path('connect_google') }}"
                   role="button">Google</a>
            </div>
        </div>
    </div>
{% endblock %}